*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme colors */
:root {
    /* Primary Colors */
    --sidebar-bg: #064e3b; /* Deep Emerald Green */
    --sidebar-text: #ecfdf5; /* Sofrt Mint White */
    --sidebar-hover: #047857; /* Lighter Green for buttons/hover */

    /* Main Dashboard Area */
    --header-bg: #ffffff; /* Pure White */
    --header-text: #0f172a; /* Dark text for Readability */

    --main-bg: #c3f1d2; /* Soft, Very Light Mint Green */
    --main-text: #166534; /* Darker Green for Main Headings */
    
    --card-bg: #ffffff; /* Pure white cards to POP on the light green bg */
}

/* Dark theme */
body {
    min-height: 100vh; /* Makes body at least full viewport height */
}

.container {
    /* Layout */
    display: grid;
    min-height: 100dvh; /* Makes the grid fill full viewport hieght */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    /* Layout */
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    padding-top: 2rem;
    align-items: center;

    /* Colors */ 
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
}

/* For sidebar nav */
.nav-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

ul {
    width: 100%;
}

li {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    margin-bottom: 8px;
    fill: var(--sidebar-text);
}

li svg {
    width: 18px;
    height: 18px;
    fill: var(--sidebar-text);
}

li:hover {
    color: var(--sidebar-hover);
    cursor: pointer;
}

li:hover svg path {
    fill: var(--sidebar-hover);
    cursor: pointer;
}

.dashboard-logo {
    width: 35px;
    height: 35px;
    fill: var(--sidebar-text);
}

.sidebar-logo-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-logo-header:hover svg path {
    fill: var(--sidebar-hover);
    cursor: pointer;
}

h2:hover {
    color: var(--sidebar-hover);
    cursor: pointer;
}

.alien {
    /* position: absolute; */
    width: 250px;
    height: 250px;
    fill: var(--sidebar-bg);
}

.alien:hover {
    fill: var(--sidebar-hover);
}

.header {
    /* Layout */
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Colors */
    background-color: var(--header-bg);
    color: var(--header-text);
}

.header-top-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form > p {
    display: inline;
}

input {
    border-radius: 20px;
    width: 250px;
    border: none;
    background-color: var(--main-bg);
    color: var(--header-text);
}

.top-row-items-set1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top-row-items-set2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-top-row svg {
    width: 18px;
    height: 18px;
    fill: var(--header-text);
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

.header-bottom-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greetings-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.greetings-items .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

button {
    border-radius: 20px;
    width: 75px;
    height: 30px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
}

.buttons {
    display: flex;
    gap: 24px;
}

button:hover {
    cursor: pointer;
    background-color: var(--sidebar-hover);
}

.main-content {
    /* Layout */
    grid-area: 2 / 2 / 3 / 3;

    /* Colors */
    background-color: var(--main-bg);
    color: var(--main-text);
}
