*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme colors */
:root {
    /* Primary Colors */
    --sidebar-bg: #064e3b; /* Deep Emerald Green */
    --sidebar-text: #ecfdf5; /* Sofrt Mint White */
    --sidebar-hover: #047857; /* Lighter Green for buttons/hover */

    /* Main Dashboard Area */
    --header-bg: #ffffff; /* Pure White */
    --header-text: #0f172a; /* Dark text for Readability */

    --main-bg: #c3f1d2; /* Soft, Very Light Mint Green */
    --main-text: #166534; /* Darker Green for Main Headings */
    
    --card-bg: #ffffff; /* Pure white cards to POP on the light green bg */
}

/* Dark theme */
body {
    min-height: 100vh; /* Makes body at least full viewport height */
}

.container {
    /* Layout */
    display: grid;
    min-height: 100dvh; /* Makes the grid fill full viewport hieght */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    /* Layout */
    grid-area: 1 / 1 / 3 / 2;
    position: relative; /* For alien */

    /* Colors */ 
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
}

ul {
    padding-left: 2.5rem;
}

li:hover {
    color: var(--sidebar-hover);
    cursor: pointer;
}

li {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6px;
    fill: var(--sidebar-text);
}

li svg {
    width: 18px;
    height: 18px;
    fill: var(--sidebar-text);
}

.dashboard-logo {
    width: 35px;
    height: 35px;
    fill: var(--sidebar-text);
}

.logo-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    margin-left: -45px;
}

.alien {
    position: absolute;
    width: 250px;
    height: 250px;
    fill: var(--sidebar-bg);
}

.alien:hover {
    fill: var(--sidebar-hover);
}

.header {
    /* Layout */
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Colors */
    background-color: var(--header-bg);
    color: var(--header-text);
}

.header-top-row {
    display: flex;
    justify-content: space-around;
}

form > p {
    display: inline;
}

input {
    border-radius: 20px;
    width: 250px;
    border: none;
    background-color: var(--main-bg);
    color: var(--header-text);
}

.top-row-items {
    display: flex;
    /* justify-content: start; */
    gap: 10px;
}

button {
    border-radius: 20px;
    width: 75px;
    height: 25px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
}

button:hover {
    cursor: pointer;
    background-color: var(--sidebar-hover);
}

.header-bottom-row {
    display: flex;
    justify-content: space-around;
}

.greetings-items {
    display: flex;
}

.main-content {
    /* Layout */
    grid-area: 2 / 2 / 3 / 3;

    /* Colors */
    background-color: var(--main-bg);
    color: var(--main-text);
}
